<%- include('./partials/head') %>

<!-- Hier komt dus de rest van de home page, denk aan een korte introductie met sign up etc en een button dat verwijst naar een soort tutorial, hier krijgen we schermen waarbij je stap voor stap alles kan invullen en uitleg krijgt over wat je invult en waarom. Vervolgens bij optie 1 kunnen we een overview geven over het bedrijf, bij optie 2 de calculator en bij optie 3 de contact pagina? -->

<h1 class="introduction"> Track your environmental impact with CrossmarX</h1>
<div class="start-now-btn">
    <a  href="#">â</a>
</div>


<div class="focal-point">
    <img src="beer.webp" alt="bipbap">
    <img src="zelfportret.png" alt="bipbap" class="img-2">
</div>
<%- include('./partials/foot') %>

```