<%- include('./partials/head') %>
<main>
    <link rel="stylesheet" href="/dashboard.css">
    <h2>Dashboard</h2>
    <div class="status-box">
        <section class="handprint">
            <h3>Handprint</h3>
            <small>Je handprint is hetzelfde als ...kg</small>
            <label> Handprint <progress id="handprint" value="27" max="100">50%</progress> </label>
        </section>
    <section class="footprint">
        <h3>Footprint</h3>
        <small>Je footprint is hetzelfde als ...kg</small>
        <label> Footprint <progress id="footprint" value="73" max="100">50%</progress> </label>
        </section>
    </div>
</main>
<%- include('./partials/foot') %>