<%- include('./partials/head') %>

<!-- <article class="temp">
Hier komt dus de rest van de home page, denk aan een korte introductie met sign up etc en een button dat verwijst naar een soort tutorial, hier krijgen we schermen waarbij je stap voor stap alles kan invullen en uitleg krijgt over
wat je invult en waarom.
Vervolgens bij optie 1 kunnen we een overview geven over het bedrijf, bij optie 2 de calculator en bij optie 3 de contact pagina? 
<img src="zelfportret.png" alt="zelfportret kaan">
Maak kennis, dit ben ik
</article>

<div>
    <h1> DIT IS TEXT COLOR SHADE</h1>
</div>
<div class="primary">
    <h1> DIT IS PRIMARY COLOR SHADE</h1>
</div>

<div class="secondary">
    <h1> DIT IS SECONDARY COLOR SHADE</h1>
</div> -->


<h1 class="introduction"> Track your environmental impact:  Mitigate and
    Flourish with CrossmarX</h1>
<div class="start-now-btn">
    <a  href="#">➝</a>
</div>


<div class="focal-point">
    <img src="beer.webp" alt="bipbap">
    <img src="zelfportret.png" alt="bipbap" class="img-2">
</div>
<%- include('./partials/foot') %>